* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hastag-header {
  padding: 4rem;
  color: white;
  background-color: #065fd4;
  background-image:url(images/background.png) ;
  background-size: 260px;
  background-repeat: no-repeat;
  background-position-x: 100% ;
  background-position-y: -120px;
}

h1{
  margin: 0;
  font-size: 4rem;  
  margin-bottom: 1rem;
}

.hastag-header span{
  font-size: 2rem ;
}
.hastag-header img{
  width: 5rem;
  height: 5rem;
  vertical-align: middle;
  border: 5PX solid white;
  border-radius: 50% ;
}
.hastag-header img+img{
  margin-left: -1rem;
}